*, *:after, *:before {
    box-sizing: border-box;
}

html {
    box-sizing: border-box;
}

body {
    width: 100%;
}

.clear {
    clear: both;
}

.wrapper {
    width: 100%;
    position: relative;
    z-index: 2;
}

#fixer {
    min-height: 100vh;
    position: relative;
}

.text-blk-left {
    float: left;
    margin-left: 50px;
    max-width: 450px;
}

.text-blk-right {
    max-width: 470px;
}

.text-blk-right {
    float: right;
    margin-top: 20px;
    padding-bottom: 10px;
}

.fixed-width {
    max-width: 920px;
    margin-left: auto;
    margin-right: auto;
}

.one_third {
    position: relative;
    margin-right: 6%;
    margin-bottom: 20px;
    float: left;
    width: 27%;
}
#technolagyrowtwo {
    /*display:inline-block;*/
    /*height:100%; для медийных запросов*/
}
#centerstyle {
    text-align:center;
}
#descriptionclient {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 5%;
    margin-bottom: 5%;
    font-size:20px;
}

.imageclient {
    margin-top: 30px;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;

}

.service {

    margin-bottom: 5px;
}

section {
    display: block;
}

.footer {
    background: #ededed;
    z-index: 2;
    box-shadow: 0 -2px 2px rgba(141,141,141,0.5);
    position: absolute;
    bottom: 0;
    left: 0;
}

.technolagyLeft {
    float: left;
    width: 50%;
    padding-top: 20px;
    padding: 20px;
}

.clearfix:before {
    content: '\0020';
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}

.service-icon {
    margin: 0 20px 20px 0;
    float: left;
    padding-left: 10%;
    width: 100%
}

.service {
    margin-bottom: 5px;
}


#contentIndex {
   width: 70%;
    margin: 0 auto;
    text-align: center;
    max-width: 700px;  
}
#cell {
    display:table-cell;
    vertical-align: middle;
}

#indexP {
    text-indent: 20px;
    font-size: 19px;
    text-align: justify;
}

#spanfontindex {
    font-size: 19px;
}

.technolagyRight {
    float: right;
    width: 50%;
    padding: 20px;
    padding-top: 20px;
}

.imageGallery {
    border-radius: 100px;
    border: 1px solid #eee;
    height: 80px;
    background-color: aliceblue;
}

.brandImage {
    border: 1px solid #eee;
    height: 80px;
}

.InsideTechnology {
    -webkit-box-shadow: 7px 7px 42px 0px rgba(92,85,92,1);
    -moz-box-shadow: 7px 7px 42px 0px rgba(92,85,92,1);
    box-shadow: 7px 7px 42px 0px rgba(92,85,92,1);
    padding: 10px;
    height: 400px;
}

.gallery {
    padding-top: 10px;
}

#headerStack {
    color: #000000;
    padding-top: 20px;
    text-align: center;
    font-size: 40px;
}

.header {
    width: 100%;
    height: 100px;
    background: #ededed;
    box-shadow: 0 2px 2px rgba(141,141,141,0.5);
    position: absolute;
    top: 0;
    left: 0;
}

p, h1, h2, h3, h5 {
    margin: 0;
}

h5 {
    letter-spacing: 1px;
    font-size: 22px;
}

ul:not(.UlIndex,.UlTechnology) {
    margin: 0;
    padding: 0;
    list-style: none;
}

.row {
    margin: 0;
    width: 100%;
}

.col {
    padding: 0px 20px;
    float: left;
    height: 100%;
}

#brandP {
    font-size: 34px;
    padding-top: 22px;
    padding-left: 28px;
}

.col:last-child {
    float: right;
}

.logo {
    display: inline-flex;
    padding: 10px 20px;
    width: 15%;
    position: relative;
    font: 600 2.5em sans-serif;
    color: #428bca;
    text-shadow: 0 2px 2px rgba(141,141,141,0.5);
}

    .logo span {
        position: absolute;
        top: 50%;
        transform: translate3d(0, -50%, 0);
        display: block;
    }

.board {
    width: 85%;
}


    .board .menu {
        height: 70%;
    }

    .board ul li {
        display: inline-block;
    }

.menu ul,
.contact ul {
    display: block;
    height: 100%;
    float: right;
    padding-top: 10px;
}

.menu li {
    display: block;
    height: 100%;
    position: relative;
}

    .menu li:after {
        content: "";
        display: block;
        height: 60%;
        padding: 5px 0;
        width: 1px;
        background: #8d8d8d;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translate3d(0, -50%, 0);
        opacity: 0.3;
    }

    .menu li:last-child:after {
        display: none;
    }

    .menu li a {
        display: table;
        padding: 0 20px;
        height: 100%;
        text-decoration: none;
    }

.menu a span {
    font: 400 1.3em/1 "Calibri";
    display: table-cell;
    vertical-align: middle;
    text-transform: uppercase;
}

.contact ul > li {
    position: relative;
    padding: 0 35px;
    float: left;
    /* width: 50%;*/
    height: 50%;
    box-sizing: border-box;
}


.contact li span {
    position: relative;
}

.icon-font {
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-whatsapp:before {
    content: '';
    display: block;
    position: absolute;
    width: 30px;
    height: 30px;
    background-image: url(../../Content/Images/phone.png);
    background-size: cover;
    left: -35px;
    top: -5px;
}

.icon-skype:before {
    content: '';
    display: block;
    position: absolute;
    width: 30px;
    height: 30px;
    background-image: url(../../Content/Images/skype.png);
    background-size: cover;
    left: -35px;
    top: -5px;
}

.icon-envelop:before {
    content: '';
    display: block;
    position: absolute;
    width: 30px;
    height: 30px;
    background-image: url(../../Content/Images/mail.PNG);
    background-size: cover;
    left: -35px;
    top: -5px;
}

@media all and (max-width:1023px) {
    #technolagyrowtwo {
    display:inline-block;
    height:100%; 
}
    .text-blk-left {
            float: none;
    margin-left: 0px;
    max-width: none;
    }
     .text-blk-right {
              float: none;
    margin-left: 0px;
    max-width: none;
    }
   #cammondiv {
       width:75%;
       padding-left:15%;
    }

    .InsideTechnology {
        height: 310px;
    }

    .technolagyLeft {
        padding: 10px;
        padding-top: 9px;
        height: 320px;
    }

    .technolagyRight {
        padding: 10px;
        padding-top: 9px;
        height: 330px;
    }

    .contact ul > li {
        padding: 0 25px;
    }


    body {
        font-size: 12px;
    }

    p {
        font-size: 15px;
    }

    #indexP {
        font-size: 15px;
    }

    #headerStack {
        padding-top: 15px;
        font-size: 27px;
    }

    #contentIndex {
        width: 480px;
    }

    #spanfontindex {
        font-size: 15px;
    }

    h3 {
        font-size: 17px;
    }

    h5 {
        font-size: 13px;
    }

    h1 {
        font-size: 32px;
    }

    b {
        font-size: 14px;
    }

    #brandP {
        font-size: 34px;
        padding-top: 22px;
        padding-left: 12px;
    }
}

@media all and (max-width:800px) {
    #brandP {
        font-size: 24px;
        padding-top: 43px;
    }

    .hidden-mb {
        display: none;
    }

    .hidden-mb {
        display: none;
    }


        @media all and (min-width:1440px) {

            .InsideTechnology {
                height: 500px;
            }

            .technolagyLeft {
                padding: 10px;
                padding-top: 9px;
                height: 500px;
            }

            .technolagyRight {
                height: 500px;
                padding: 10px;
                padding-top: 9px;
            }

            .contact ul > li {
            }


            body {
                font-size: 20px;
            }

            p {
                font-size: 23px;
            }

            #indexP {
                font-size: 25px;
            }

            #headerStack {
            }

            #contentIndex {
                width: 1000px;
                padding: 45px;
            }

            #spanfontindex {
                font-size: 30px;
            }

            h3 {
            }

            h5 {
            }

            h1 {
                font-size: 60px;
            }

            b {
                font-size: 22px;
            }
        }
