
<div style="background:url(@ViewBag.Path) no-repeat 0 0;background-size: cover">
    <div class="row application-area-block">
        <h2 style="color: #000000;padding: 10px; text-align: center; ">Область применения</h2>

        <div class="row application-area-block">
            <div class="col-lg-4">

                <div class="col-lg-12">
                  <img class="imageGallery" ; src="~/Content/Images/1460400108_pharmacy.png">
                </div>
                <div class="col-lg-12">
                    Медицина
                </div>

            </div>
            <div class="col-lg-4">
                <div class="col-lg-12">
                    <img class="imageGallery" src="~/Content/Images/transport.png" >
                </div>
                <div class="col-lg-12">
                    Транспорт и логистика
                </div>

            </div>
            <div class="col-lg-4">
                <div class="col-lg-12">
                    <img class="imageGallery" src="~/Content/Images/science.png">
                </div>
                <div class="col-lg-12">
                   Наука
                </div>

            </div>
            <div class="col-lg-4">
                <div class="col-lg-12">
                    <img class="imageGallery" src="~/Content/Images/vector_66_11.png" >
                </div>
                <div class="col-lg-12">
                    Коммуникации
                </div>
            </div>
            <div class="col-lg-4">
                <div class="col-lg-12">
                    <img class="imageGallery" src="~/Content/Images/finance.png">
                </div>
                <div class="col-lg-12">
                   Финансы и аналитика
                </div>
            </div>
            <div class="col-lg-4">
                <div class="col-lg-12">
                    <img class="imageGallery" src="~/Content/Images/internet.png">
                </div>
                <div class="col-lg-12">
                   Интренет
                </div>
            </div>
            <div class="col-lg-4">
                <div class="col-lg-12">
                    <img class="imageGallery" src="~/Content/Images/network.png">
                </div>
                <div class="col-lg-12">
                    Социальные сети
                </div>
            </div>
            <div class="col-lg-4">
                <div class="col-lg-12">
                    <img class="imageGallery" src="~/Content/Images/social.png">
                </div>
                <div class="col-lg-12">
                    Cфера услуг
                </div>
            </div>
            <div class="col-lg-4">
                <div class="col-lg-12">
                    <img class="imageGallery" src="~/Content/Images/entertainment.png">
                </div>
                <div class="col-lg-12">
                    Развлечения
                </div>
            </div>

        </div>
    </div>

</div>



