<div style="background:url(@ViewBag.Path) no-repeat 0 0;background-size: cover">
    <div>
        <h1 style="color: #000000;padding-top:20px; text-align: center;font-size: 40px;"><strong>Технологии</strong></h1>

        <div class="technolagyLeft">
            <div class="InsideTechnology">
                <h3 style="color: #000000;padding-bottom: 10px; text-align: center; ">Наши серверные решения разрабатываются с использованием следующих технологий:</h3>
                <ul>
                    <li>
                        <h5 style="color: #000000; text-align: left;"><strong>Реализация хранилищ:</strong></h5>
                        <ul class="UlTechnology">
                            <li>MS SQL</li>
                            <li>MySQL</li>
                            <li>NoSQL</li>
                        </ul>
                    </li>
                    <li>
                        <h5 style="color: #000000; text-align: left;">
                            <strong>.NET технологии:</strong>
                        </h5>
                        <ul>
                            <li>WCF</li>
                            <li>WWF</li>
                            <li>WinService</li>
                        </ul>
                    </li>
                    <li>
                        <h5 style="color: #000000; text-align: left;">
                            <strong>Безопасность на уровне данных и транспортном уровне:</strong>
                        </h5>
                        <ul>
                            <li>SSL</li>
                            <li>TSL</li>
                            <li>ассиметричное и симметричное шифрование,</li>
                            <li>Проверка подлинности</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="technolagyRight">
            <div class="InsideTechnology">
                <h3 style="color: #000000;padding-bottom: 10px; text-align: center; ">Для представления данных предлагаем реализации front-end решений в виде:</h3>

                <ul>
                    <li>
                        
                        <ul>
                            <li>
                                <h5 style="color: #000000; text-align: left;">
                                    <strong>
                                       Настольные приложения:
                                    </strong>
                                </h5>
                                <ul>
                                    <li>WPF</li>
                                    <li>Winforms</li>
                                    <li>DevExpress</li>
                                </ul>
                            </li>
                            <li>
                                <h5 style="color: #000000; text-align: left;">
                                    <strong>
                                        Web:
                                    </strong>
                                </h5>
                                <ul>
                                    <li>ASP.NET</li>
                                    <li>MVC 5</li>
                                    <li>Java</li>
                                </ul>
                            </li>
                            <li>
                                <h5 style="color: #000000; text-align: left;">
                                    <strong>
                                        Мобильные приложения:
                                    </strong>
                                </h5>
                                <ul>
                                    <li>Xamarin</li>
                                    <li>Java</li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>


    </div>

</div>
